.artics-sec {
  /* position: relative; */
  height: 100%;
}

.artics-sec .cont {
  height: 100%;
}

.artics {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  overflow-y: scroll;
}

.artics::-webkit-scrollbar {
  background: #133355;
  width: 12px;
  border-radius: 50px;
  color: #fff;
}

.artics::-webkit-scrollbar-thumb {
  background: #185391;
  width: 12px;
  border-radius: 50px;
  color: #fff;
}

.artic-temp {
  --w: 300px;
  width: var(--w);
  height: var(--w);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* background: rgba(85, 179, 214, 0.2); */
  transition: all 0.3s ease;
  margin: 0px 15px 15px;
}

.artic-temp img {
  width: 100%;
  height: 55%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0.5px 0.5px 9px #000;
}

.artic-temp h3 {
  font-size: 21px;
  line-height: 25px;
  padding: 13px 10px;
  margin: 0;
  height: auto;
  text-transform: capitalize;
}

.artic-temp h5 {
  font-size: 16px;
  margin: 0;
  padding: 0px 10px 10px;
  color: #666;
}

.artic-temp:hover {
  background: rgba(12, 57, 113, 0.6);
}
